#link {
    border-style: solid;
    border-color: #000000;
    background-color: rgba(255,255,255,.4);
    color: black;
    font-size: 45px;
    font-family: 'Agency FB';
    font-weight: 400;
    margin: 20px;
}

#greet {
    font-size: 40px;
    color: #000000;
    font-style: revert-layer;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1px;
}

div.a {
    text-align: right;
    color: #4cff00
}

body {
    background: url("https://w0.peakpx.com/wallpaper/142/843/HD-wallpaper-megumin-street-anime.jpg");
    background-size: cover;
}

nav {
    color: #4cff00;
}
